*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}


#main_menu {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 5;
}
.main_menu {
	display: block;
	list-style: none;
	margin: 45px auto;
	padding: 0;
	width: 80%;
}
.main_menu li {
	display: inline-block;
	margin-left: 10px;
}

#logo_a img {
	max-width: 100px;
	display: block;
	margin: 10px auto;
}
.top_phone {
	padding-top: 25px;
}
.top_phone a {
	display: block;
	/* line-height: auto; */
	font-size: 22px;
	color: #333;
}
.service_title {
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
}
.service_item {
	height: 240px;
	overflow: hidden;
	border: 3px solid #fff;
	margin: 0;
	padding: 0;
	position: relative;
}
.service_item img {
	width: 100%;
	height: auto;
	display: block;
}
.service_desc {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	text-align: center;
	color: #fff;
	font-size: 3.8rem;
	text-transform: uppercase;
	transition: all .5s cubic-bezier(.22,.61,.36,1);
	padding-top: 90px;
	cursor: pointer;
}
.service_item:hover .service_desc {
	background-color: rgba(0,0,0,.8);

}