*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}


#main_menu {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 5;
}
.main_menu {
	display: block;
	list-style: none;
	margin: 45px auto;
	padding: 0;
	width: 80%;
}
.main_menu li {
	display: inline-block;
	margin-left: 10px;
}
.main_menu li a {
	color: #333;
	text-transform: uppercase;
	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main_menu li a:hover {
	color: #0090ff;
	text-decoration: none;
	border-bottom: 1px solid;

}
#logo_a img {
	max-width: 100px;
	display: block;
	margin: 10px auto;
}
.top_phone {
	padding-top: 25px;
}
.top_phone a {
	display: block;
	/* line-height: auto; */
	font-size: 22px;
	color: #333;
}
.slider_item h2 {
	margin-top: 15%;
    margin-left: 5%;
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #0090ff;
    width: 400px;
    padding: 10px;
    text-align: center;
}
.slider_item p {
	max-width: 60%;
    margin-left: 5%;
    color: #333;
    background-color: rgba(255,255,255,.7);
    padding: 10px;
    font-size: 20px;
}
#services {
	padding-top: 15px;
	padding-bottom: 25px;
}
.service_title {
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
}
.service_title span {
	font-size: 2rem;
	display: block;
	width: 60%;
	text-align: center;
	margin: 5px auto;
}
.service_item {
	height: 240px;
	overflow: hidden;
	border: 3px solid #fff;
	margin: 0;
	padding: 0;
	position: relative;
}
.service_item img {
	width: 100%;
	height: auto;
	display: block;
}
.service_desc {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	text-align: center;
	color: #fff;
	font-size: 3.8rem;
	text-transform: uppercase;
	transition: all .5s cubic-bezier(.22,.61,.36,1);
	padding-top: 90px;
	cursor: pointer;
}
.service_item:hover .service_desc {
	background-color: rgba(0,0,0,.8);

}
#perevagi #partners {
	
	background-color: #ebebeb;
	color: #252525;
	padding-bottom: 5%;
	padding-top: 2%;
}
.radiator {
	display: block;
	max-width: 100%;
	margin-top: 60px;
}
.preference_item {
	padding: 0;
	margin: 0;
}
.preference_item span {
	display: block;
	font-size: 13px;
	width: 60%;
	margin: 5px auto;
}
.preference_item h3 {
	font-size: 2.2rem;
	text-align: center;
	text-transform: uppercase;
}

#how_is_work{
background-color: #f5f5f5;
}
.hw_item {
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	height: auto;
}
.hw_item img {
	width: 100%;
	height: 100%;
}
.hw_item h3 {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 25%;
	text-align: center;
}
.hw_ttl {
	position: absolute;
}
.hw_ttl span {
	width: 60%;
    display: block;
    margin: 20px;
    font-size: 18px;
    background-color: #0090ffc4;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.hw_ttl h3 {
	font-size: 5rem;
	text-align: left;
	padding-left: 25px;
	color: #0090ff;
	font-weight: bold;
}
#photogalery {
	padding-bottom: 5%;
}

.xfieldimagegallery.galery {
	display: block;
	width: 100%;
	list-style: none;
}
.xfieldimagegallery.galery li {
	width: 20%;
	float: left;
	overflow: hidden;
	height: 210px;
}
.xfieldimagegallery.galery li img {
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
}

#partners {
	
	background-color: #ebebeb;
	color: #252525;
	padding-bottom: 5%;
	padding-top: 2%;
}
.brand_item {
	width: 100%;
	padding: 0;
	margin: 5% auto;
	list-style: none;
}
.brand_item li {
	display: inline-block;
	width: 19.7%;
	padding: 10px;
	margin: 0;
}
.brand_item li img {
	max-width: 100%;
	vertical-align: middle;
}#contacts {
	padding-top: 2%;
	padding-bottom: 5%;
}
#mapdiv {
	width: 100%;
	height: 650px;
}
#OL_Icon_22 img {
	width: 50px !important;
	height: 50px !important;
}
.cont_inf {
	list-style: none;
	font-size: 20px;
	color: #333;
}
.cont_inf li {
	margin: 10px auto;
}
.cont_inf a {
	color: #333;
}