*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.top_line_men {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #0854B6;
}
#logoa {
	padding-top: 10px;
	/* border: 1px solid red; */
	display: block;
	padding-bottom: 10px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}
#logoa img {
	max-width: 80px;
	margin: 0;
	padding: 0;
	margin-left:10px; 
}
.top_cont_inf {
	color: #fff;
	font-weight: 600;
}
.top_cont_inf a {
	color: #FFC834;
	font-weight: 600;
}

.top_cont_inf a span {
	color: #fff;
	
} 
.top_cont_inf p {
	display: inline-block;
	border-right: 1px solid;
	padding-right: 10px;
	margin-left: 5px;
}
.trian {
	background-image: url(../img/t_1.png);
	height: 100%;
	width: 40%;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.top_man {
	background-image: url(../img/man.png);
	height: 100%;
	width: 40%;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 12%;
	bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.first_slide_ttl {
	position: absolute;
	right: 10%;
	top: 20%;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	max-width: 30%;
	text-align: left;
}
.first_slide_ttl::after {
	content: '.';
	background-color: #0854B6;
	width: 100%;
	height: 52%;
	position: absolute;
	top: 0;
	right: -10%;
	z-index: -1;
	padding: 10px;
}
.first_slide_ttl p {
	margin-left: -50px;
	padding: 20px;
	background-color: #033D87;
}
.first_slide_ul {
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	margin-left: -30px;
}
.first_slide_ul li {
	margin: 15px 0;
	background-color: #033D87;
	min-width: 180px;
	padding: 5px 15px;
}
.first_slide_ul li img {
	margin-right: 10px;
}
.first_slide_ul span {
	color: #FFC834;
}
#project_price_1 {
	width: 100%;
	margin: 0 auto;
	padding: 5% 0 5%;
	background-image: url(../img/t_2.png), url(../img/bg_2.jpg);
	background-repeat: no-repeat;
	background-position: right center, center center;
	background-size: auto, cover;
	text-align: center;
}
.items {
	position: relative;
}
.items_title {
	position: absolute;
	right: -12%;
	z-index: 2;
	background-color: #FFBE10;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px;
	margin-top: 10%;
	color: #000;
}
.items_title h2 {
	font-size: 32px;
	color: #000;
	padding: 0;
	margin: 10px auto;
}
.block_items {
	list-style: none;
	margin-top: 30vh;
	width: 100%;
}
.block_items li::before {
	content: " ";
	width: 10px;
	height: 10px;
	display: block;
	background-color: #FFBE10;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50%;
}
.block_items li span {
	font-size: 35px;
	margin-right: 15px;
	font-weight: 600;
	color: #FFBE10;
	display: block;
	margin-top: 25px;
	float: left;
}
.list_text {
	display: block;
	width: 100%;
	/* border: 1px solid red; */
	/* float: right; */
}
.img_div img {
	width: 100%;
	height: 100%;
}
.items_title_l {
	left: -12%;
	z-index: 2;
	background-color: #FFBE10;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px;
	margin-top: 5%;
	color: #000;
	margin-left: -25%;
	width: 80%;
	margin-bottom: 10%;
}
.items_title_l h2 {
	font-size: 32px;
	color: #000;
	margin: 10px auto;
}
.tovary {
	margin-top: 38%;
}

.servise_item ul {
	/* width: 80%; */
	display: block;
	margin: 15px auto;
	list-style: none;
	font-size: 19px;
	color: #000;
	padding: 0;
}
.servise_item h3 img {
	margin-right: 10px;
	vertical-align: middle;
}

.servise_item ul li::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: #FFBE10;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
}
.action_ttl {
	text-align: center;
	font-size: 32px;
	padding: 0;
	margin: 25px auto;
	text-transform: uppercase;
	padding: 15px;
	background-color: #FFBE10;
	width: 35%;
}
.akciya h3 {
	color: red;
	font-size: 4rem;
	text-transform: uppercase;
}
.act_btn {
	text-align: center;
	color: #0854B6;
	text-transform: uppercase;
	font-size: 3rem;
}
.act_btn span {
	background-color: #0854B6;
	padding: 15px;
	margin-left: 10px;
	color: #fff;
	cursor: pointer;
	transition: all .5s linear;
}
.act_btn span:hover {
transform: scale(1.2);
}
/*#perevagi {
	background-image: url(../img/t_2_180.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto;
}*/
.perevag_item p {
	max-width: 80%;
}
.how_it_row {
	margin-top: 32%;
}
#project_price_1 h2 {
	font-size: 4rem;
	padding: 0;
	margin: 20px auto;
	text-transform: uppercase;
}
#cont_form_1 {
	/* padding: 10px; */
	background-color: rgba(255,190,16,.95);
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 15px;
}
#cont_form_1 input {
	display: block;
	width: 420px;
	margin: 15px auto;
	max-width: 100%;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px;
	padding-left: 15px;
}
#cont_form_1 textarea {
	width: 420px;
	display: block;
	margin: 10px auto;
	border: 1px solid #333;
	padding-left: 15px;
	padding-top: 10px;
}
#cont_form_1 button {
	padding: 10px;
	background-color: #2F3333;
	border: none;
	width: 290px;
	margin: 15px auto;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
#photogalery {
	padding-bottom: 5%;
}

.xfieldimagegallery.galery {
	display: block;
	width: 100%;
	list-style: none;
}
.xfieldimagegallery.galery li {
	width: 20%;
	float: left;
	overflow: hidden;
	height: 210px;
	max-height: 480px;
	min-height: 120px;
}
.xfieldimagegallery.galery li img {
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
}
#photogalery h2 {
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 4%;
	background-color: #FFBE10;
	width: 35%;
	margin: 15px auto;
	padding: 15px;
}
.ug-thumb-wrapper {
	display: inline-block;
	width: 19%;
	padding: .5%;
}
.ug-thumb-wrapper img {
	vertical-align: baseline;
}
#partners h2 {
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	margin: 28px auto;
	background-image: url(../img/zag_bg.png);
	padding: 15px;
	background-size: contain;
	background-repeat: no-repeat;
}
#partners h2 span {
	color: #0854B6;
}

#contacts {
	padding-top: 2%;
	padding-bottom: 5%;
	background-image: url(../img/t_2.png), url(../img/bg_2.jpg);
	background-repeat: no-repeat;
	background-position: right bottom, center center;
	background-size: auto, cover;
}
#mapdiv {
	width: 100%;
	height: 650px;
}
#OL_Icon_22 img {
	width: 50px !important;
	height: 50px !important;
}
.cont_inf {
	list-style: none;
	font-size: 20px;
	color: #333;
	margin-top: 25%;
}
.cont_inf li {
	margin: 10px auto;
}
.cont_inf a {
	color: #333;
}
.service_title2 {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	color: #333;
}
footer {
	padding: 15px;
	text-align: center;
	background-color: #0854B6;
}
footer a{
	color: #ffffff;
}
.img_div {
	margin-left: -15px;
	margin-right: -15px;
}
.akciya .img_div img {
	
	max-width: 380px;
	display: block;
	margin: 2px auto;
	box-shadow: 2px 5px 10px #333;
}
.akciya {
	padding-top: 2%;
	padding-bottom: 5%;
	background-image: url(../img/t_2.png), url(../img/bg_2.jpg);
	background-repeat: no-repeat;
	background-position: right bottom, center center;
	background-size: auto, cover;
}
.bg_text {
	background-color: rgba(255,255,255,.65);
	padding: 15px;
	margin-left: -5%;
}
.list_text h3 {
	font-size: 19px;
	/* color: red; */
	font-weight: normal;
	color: #000;
}